body {
  margin: 0;
}

header {
  height: 5em;
  background-color: black;
}

.header-navigation {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 3em;
}

.header-list-element {
  height: 5em;
  display: flex;
  align-items: center;
}

.header-navigation a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}

.header-list-element:hover {
  background-color: gray;
}

@media (max-width: 700px) {
  header {
    height: 3em;
    background-color: black;
  }
  .header-navigation {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 2em;
  }
  .header-list-element {
    height: 3em;
    display: flex;
    align-items: center;
  }
  .header-navigation a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
  }
}

.main {
  margin: auto 10%;
  background-color: rgba(130, 130, 130, 0.245);
}

@media (max-width: 1350px) {
  .main {
    margin: auto 5%;
  }
}

@media (max-width: 1200px) {
  .main {
    margin: 0;
  }
}

.about {
  display: flex;
  padding: 5% 5% 3% 5%;
}

@media (max-width: 700px) {
  .about {
    display: block;
  }
}

.about-text-container {
  flex: 1;
}

.about-text {
  padding: 5% 5%;
}

.about img {
  width: 30%;
}

.content {
  padding: 3% 5% 3% 5%;
}

.section {
  margin: auto 5%;
}

.edu-container {
  display: flex;
  margin-top: 5%;
}

@media (max-width: 700px) {
  .edu-container {
    display: block;
  }
}

@media (max-width: 700px) {
  h1 {
    text-align: center;
  }
}

.edu-container img {
  width: 50%;
}

@media (max-width: 700px) {
  .about img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
  }
  .edu-container img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
  }
}

.edu-text-container {
  flex: 1;
}

.content-text {
  margin: auto 5%;
}

.work-container {
  margin-top: 2.5%;
}

h3 {
  text-align: center;
}

.accelerator-list {
  padding-left: 15%;
}

footer {
  height: 3em;
  background-color: black;
}

.footer-navigation {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 2em;
}

.footer-list-element {
  height: 3em;
  display: flex;
  align-items: center;
}

.footer-navigation a {
  text-decoration: none;
  color: white;
}

.footer-list-element:hover {
  background-color: gray;
}
