body {
  margin: 0;
}

header {
  height: 5em;
  background-color: black;
}

.header-navigation {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 3em;
}

.header-list-element {
  height: 5em;
  display: flex;
  align-items: center;
}

.header-navigation a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}

.header-list-element:hover {
  background-color: gray;
}

.main {
  margin: auto 10%;
  background-color: rgba(130, 130, 130, 0.245);
}

.about {
  display: flex;
  padding: 5%;
}

.about-text-container {
  flex: 1;
}

.about-text {
  padding: 5% 5%;
}

.about img {
  width: 30%;
}

.content {
  padding: 0 5% 10% 5%;
}

.section {
  margin: auto 5%;
}

.edu-container {
  display: flex;
  margin-top: 5%;
}

.edu-container img {
  width: 50%;
}

.edu-text-container {
  flex: 1;
}

.content-text {
  margin: auto 5%;
}

h3 {
  text-align: center;
}

footer {
  height: 3em;
  background-color: black;
}

.footer-navigation {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 2em;
}

.footer-list-element {
  height: 3em;
  display: flex;
  align-items: center;
}

.footer-navigation a {
  text-decoration: none;
  color: white;
}

.footer-list-element:hover {
  background-color: gray;
}
